name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install dependencies
        run: npm ci
      - name: Set build date
        run: echo "BUILD_DATE=$(date +'%d.%m.%Y')" >> $GITHUB_ENV
      - name: Build app
        run: npm run build && npm run gh-pages:404
        env:
          PUBLIC_URL: /100-club
          REACT_APP_BUILD_DATE: ${{ env.BUILD_DATE }}
      - name: Remove .map files
        run: find ./build -name "*.map" -type f -exec rm -f {} +
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
